* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
body {
    direction: rtl;
}

body, html {
    margin: 0;
    padding: 0;
}

:root {
    --color-dark-blue: #205781;
    --color-light-blue: #D2DDE6;
    --color-brown: #DDA853;
    --color-orange: #FB8101;
    --color-orange-light: rgba(251, 129, 1, 0.59);
    --color-cream: #FAEDE1;
    --color-light-beige: #F5E1BF;
    --color-gray: #959494;
    
    
    --color-orange-hovered: #E67600;
}


