@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');




.leftPanel {
    width: 100vh;
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('../../../public/assets/images/left-panel-background.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.leftPanelLogo {
    position: absolute;
    top: 0;
    left: 0;    
    width: 200px;
    height: 120px;
   
}

.leftPanelContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.leftPanelImage {
    width: 340px;
    height: auto;
    display: block;
    border-radius: 14px;
}

.rectangles {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.leftPanelRectangle {
    width: 80px;
    height: 15px;
    /* background-color: var(--rectangles-color); */
    border-radius: 5px;
}

@media screen and (max-width: 700px) {
    .leftPanel {
        display: none;
    }
}
