.formButton button {
    display: inline-flex;             
    align-items: center;               
    justify-content: center;          

    border: none;
    border-radius: 8px;
    padding: 10px 60px;                 
    font-size: 16px;                    
    font-weight: 600;
    text-align: center;

    cursor: pointer;

    box-shadow: 0 0 6px rgba(0, 0, 0, 1);
    transition: background 0.3s ease, transform 0.2s ease;

    background-color: #007bff;
    color: white;
    width: auto;
    display: inline-block;
    white-space: nowrap;
    margin-top: 1.25rem;
}


.buttonGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90px;
    width: 100%;
}


