@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

 
 .container {

     display: flex;
     width: 100vw;  /* عرض کل صفحه */
     height: 100vh; /* ارتفاع کل صفحه */
     background: none; /* پس‌زمینه‌ی جداگانه حذف شد */
     border-radius: 0; /* گردی کناره‌ها حذف شد که کل صفحه رو بگیره */
     overflow: hidden;
     justify-content: space-between;
     box-shadow: none;
     
 }
 